---
import  AboutComponent  from "../About/About.astro";


const props = { /* ... */ };
---

<!-- ============================================ --><!--                 Side By Side                 --><!-- ============================================ -->
<section id="sbs-683">
  <div class="cs-container">
    <!-- Left Section -->
    <div class="cs-image-group">
      <AboutComponent bookshop:live {...props}  />
      <picture class="cs-picture cs-picture1">
        <source
          media="(max-width: 600px)"
          srcset="https://ik.imagekit.io/azupnt3mqx/mako-image-interior-1.webp?updatedAt=1722905946761"
        />
        <source
          media="(min-width: 601px)"
          srcset="https://ik.imagekit.io/azupnt3mqx/mako-image-interior-1.webp?updatedAt=1722905946761"
        />
        <img
          loading="lazy"
          decoding="async"
          src="https://ik.imagekit.io/azupnt3mqx/mako-image-interior-1.webp?updatedAt=1722905946761"
          alt="people outside"
          width="306"
          height="360"
          aria-hidden="true"
        />
      </picture>
      <picture class="cs-picture cs-picture2">
        <source
          media="(max-width: 600px)"
          srcset="https://ik.imagekit.io/azupnt3mqx/mako-image-interior-2.webp?updatedAt=1722905946522"
        />
        <source
          media="(min-width: 601px)"
          srcset="https://ik.imagekit.io/azupnt3mqx/mako-image-interior-2.webp?updatedAt=1722905946522"
        />
        <img
          loading="lazy"
          decoding="async"
          src="https://ik.imagekit.io/azupnt3mqx/mako-image-interior-2.webp?updatedAt=1722905946522"
          alt="people outside"
          width="306"
          height="360"
          aria-hidden="true"
        />
      </picture>
      <picture class="cs-picture cs-picture3">
        <source
          media="(max-width: 600px)"
          srcset="https://ik.imagekit.io/azupnt3mqx/mako-image-interior-2.webp?updatedAt=1722905946522"
        />
        <source
          media="(min-width: 601px)"
          srcset="https://ik.imagekit.io/azupnt3mqx/mako-image-interior-2.webp?updatedAt=1722905946522"
        />
        <img
          loading="lazy"
          decoding="async"
          src="https://ik.imagekit.io/azupnt3mqx/mako-image-interior-2.webp?updatedAt=1722905946522"
          alt="person gardening"
          width="306"
          height="360"
          aria-hidden="true"
        />
      </picture>
      <picture class="cs-picture cs-picture4">
        <source
          media="(max-width: 600px)"
          srcset="https://ik.imagekit.io/azupnt3mqx/mako-image-interior-2.webp?updatedAt=1722905946522"
        />
        <source
          media="(min-width: 601px)"
          srcset="https://ik.imagekit.io/azupnt3mqx/mako-image-interior-2.webp?updatedAt=1722905946522"
        />
        <img
          loading="lazy"
          decoding="async"
          src="https://ik.imagekit.io/azupnt3mqx/mako-image-interior-2.webp?updatedAt=1722905946522"
          alt="urban environment in green"
          width="306"
          height="360"
          aria-hidden="true"
        />
      </picture>
      <!--Zig Zag Graphic-->
      <img
        class="cs-graphic"
        aria-hidden="true"
        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fzigzag.svg"
        loading="lazy"
        decoding="async"
        alt="zigzag"
        width="983"
        height="416"
      />
    </div>
    <div class="cs-content">
      <span class="cs-topper">Why Choose Us</span>
      <h2 class="cs-title">About Us</h2>
      <p class="cs-text">
        With over 25 years of experience and Red Seal certification, we possess
        the expertise to complete projects properly and efficiently. Our
        extensive experience means we understand the intricacies of both
        residential and commercial projects, ensuring that each one is executed
        with the highest standards of quality and professionalism.
      </p>
      <a class="cs-button-solid" href="">Contact Us</a>
    </div>
  </div>
</section>
<style>
  /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #sbs-683 {
      padding: var(--sectionPadding);
      /* clips the zigzag graphic so it doesn't cause overflow issues */
      overflow: hidden;
    }
    #sbs-683 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #sbs-683 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: 33.875rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    #sbs-683 .cs-text {
      margin-bottom: 1rem;
    }
    #sbs-683 .cs-text:last-of-type {
      margin-bottom: 2rem;
    }
    #sbs-683 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: var(--primary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
    }
    #sbs-683 .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width 0.3s;
    }
    #sbs-683 .cs-button-solid:hover:before {
      width: 100%;
    }
    #sbs-683 .cs-image-group {
      /* everything inside the image group is in ems so the font size will scale them down.  Font size minimum is tied to view width size, and grows until it reaches 75% of the value on em */
      font-size: min(2.3vw, 0.75em);
      width: 39.5em;
      height: 51.25em;
      position: relative;
      z-index: 1;
    }
    #sbs-683 .cs-picture {
      width: 19.125em;
      height: 22.5em;
      overflow: hidden;
      display: block;
      position: absolute;
    }
    #sbs-683 .cs-picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
    #sbs-683 .cs-picture1 {
      top: 5em;
      left: 0;
    }
    #sbs-683 .cs-picture2 {
      top: 0;
      right: 0;
    }
    #sbs-683 .cs-picture3 {
      bottom: 0;
      left: 0;
    }
    #sbs-683 .cs-picture4 {
      bottom: 5em;
      right: 0;
    }
    #sbs-683 .cs-graphic {
      display: none;
    }
  }
  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #sbs-683 .cs-container {
      flex-direction: row;
      justify-content: space-between;
    }
    #sbs-683 .cs-image-group {
      font-size: min(1.2vw, 1em);
      flex: none;
    }
    #sbs-683 .cs-graphic {
      width: 61.4375em;
      height: auto;
      display: block;
      position: absolute;
      bottom: 10.3125em;
      right: -2em;
      z-index: -1;
    }
  }
</style>
