---
import AboutComponent from "../components/about/about.astro";
import { AstroSeo } from "@astrolib/seo";
import ContactInfo from "../components/sections/ContactInfo.astro";
import GalleryComponent from "../components/gallery/gallery.astro";
import Hero from "../components/sections/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Services from "../components/sections/Services.astro";
import Testimonials from "../components/sections/Testimonials.astro";

import { getEntry } from "astro:content";
import { processFrontmatter } from "@bookshop/astro-bookshop/helpers/frontmatter-helper.js";

const page = await getEntry("pages", "index");
processFrontmatter(page.data);
console.log(page.data); // Debugging output
const aboutUsImages = page.data.about_us_images;
---

<AstroSeo
  title="Mako Construction and Renovations"
  description="Experienced and Red Seal certified, Mako Construction and Renovations delivers high-quality residential and commercial projects with professionalism and efficiency"
/>
<Layout title="Mako Construction and Renovations">
  <main>
    <Hero />
    <!-- <AboutComponent bookshop:live {...page.data.about_us} /> -->
    <AboutComponent
	title="About Us"
	topper="Why Choose Us" 
	text="With over 25 years of experience and Red Seal certification, we possess the expertise to complete projects properly and efficiently. Our extensive experience means we understand the intricacies of both residential and commercial projects, ensuring that each one is executed with the highest standards of quality and professionalism."
	button_text="Contact Us" 
	button_link="/contact"
	images={aboutUsImages}
    />
    <Services />
    <GalleryComponent bookshop:live images={page.data.gallery_images} />
    <Testimonials />
    <ContactInfo />
  </main>
</Layout>
