---
import About from '../components/sections/About.astro';
import Hero from '../components/sections/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Services from '../components/sections/Services.astro';
---

<Layout title="Mako Construction and Renovations">
	<main>
		<Hero />
		<About />
		<Services />
	</main>
</Layout>

