---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/layouts/sections/Hero.astro';
---

<Layout title="Mako Construction and Renovations">
	<main>
		<Hero />
	</main>
</Layout>

